.yacht-details-container {
    display: block;
    .header-img-gallery {
        padding-left: 80px;
        padding-right: 80px;
    }
    .yacht-details {
        max-width: 1280px;
        padding-left: 80px;
        padding-right: 80px;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        .yacht-description {
            position: relative;
            width: 58.333333333333336%;
            margin-left: 0%;
            margin-right: 0%;
        }
        .trip-cmp {
            position: relative;
            width: 33.33333333333333%;
            margin-left: 8.333333333333332%;
            margin-right: 0%;
        }
    }
    .review-section {
        padding-left: 80px;
        padding-right: 80px;
    }
    .map-location {
        padding-left: 80px;
        padding-right: 80px;
    }
}