.home-hero {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    position: relative;
    .main-img {
        // height: 550px;
        height: 100vh;
        width: 100%;
        top: 65px;
        object-fit: cover;
    }
}

///////////////////////////////
//Search Box
div.searchBox {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20%;
    margin: 0 auto;
    background-color: white;
    border-radius: 20em;
    font-size: 0.85rem;
    .sb-input {
        height: 64px;
        width: 200px;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        padding: 14px 32px;
        // text-align: center;
        border-radius: 20em;
        &:hover {
            background-color: #ebebeb;
            cursor: pointer;
        }
        &:not(:last-of-type) {
            border-right: 1px solid #ebebeb;
            &:hover {
                border-right: 1px solid rgba(255, 0, 0, 0);
            }
        }
    }
    .search-btn {
        position: relative;
        left: -8px;
        border-radius: 20em;
        height: 50px;
        width: 50px;
        background-color: rgb(0, 94, 170);
        border: none;
        &::after {
            font-family: fa-solid;
            content: "\f002";
            color: #fff;
        }
    }
}
.dates {
    border-radius: 12px;
    padding: 14px 32px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    background-color: white;
    border-radius: 20em;
    left: 546px;
    display: block;
    top: 175px;
    position: absolute;
}
.check-out {
    border-radius: 12px;
    padding: 14px 32px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    background-color: white;
    border-radius: 20em;
    right: 334px;
    display: block;
    top: 175px;
    position: absolute;
}
.search-input-home {
    padding: 14px 32px;
    text-align: center;
    border-radius: 20em;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    background-color: white;
    top: 175px;
    left: 324px;
}

div.searchBox span {
    display: inline-block;
}

div.searchBox .sb-input .sb-input-title {
    display: block;
    font-family: BlinkerBold;
}

div.searchBox .sb-input .sb-input-data {
    color: gray;
}

div.pickDate {
    display: none;
}

div.pickLocation {
    display: none;
}

div.random-search {
    text-align: center;
    // position: relative;
    bottom: 10%;
    // top: -369px;
    // right: 257px;
    position: absolute;
    bottom: 15%;
    right: 50%;
    transform: translate(50%);
    margin: auto;
    z-index: 10;
    .rs-title {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
        font-size: 20px;
        color: seashell;
    }
    .rs-inner {
        color: rgb(54, 54, 54);;
        margin: 0 auto;
        background-color: #ffc760;
        border: none;
        border-radius: 2em;
        padding: 22px 56px;
        font-size: 18px;
        font-weight: 800;
        cursor: pointer;
        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
        transition: box-shadow 0.2s ease-out;
        &:hover {
            box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
        }
    }
}

///////////////////////////////
.top-destinations {
    position: relative;
    overflow: hidden;
    border-radius: 0.375rem;
    h2, h4 {
        margin: unset;
    }
   > img {  
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
   }
   .content {
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       left: 7%;
       width: 280px;
       color: rgb(255, 255, 255);
       > h2 {
           font-size: 48px;
           margin-bottom: 12px;
           font-weight: 600;
        }
        > h4 {
           font-weight: 400;
           font-size: 18px;
           margin-bottom: 40px;
       }
       > button {
           //clean
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;

        border-radius: 8px;
        cursor: pointer;
        padding: 14px 24px;
        background-color: rgb(255, 255, 255);
        color: rgb(72, 72, 72);
        font-size: 16px;
        font-weight: 600;

        &:hover {
            filter: brightness(0.9);
        }
       }
   }
}

.yacht {
    padding: 30px;
    margin: 5px;
    background-color: rgb(20, 107, 220);
}

.destinations-imgs-ul {
    // margin: 0;
    padding: 0;
    display: grid;
    // grid-auto-flow: column;
    // grid-template-rows: repeat(1,minmax(0,1fr));
    // gap: 1rem;
    // overflow-x: auto;
    // overflow-y: hidden;
    border-radius: 0.375rem;
    grid-auto-flow: row;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap: 0.25rem;
    overflow: hidden;
    height: 500px;
    :nth-child(1) {
        border-radius: 0;
        grid-row: span 3 / span 3;
        grid-column: span 2 / span 2;
        // text-align: left;
    }
    :nth-child(3) {
        border-radius: 0;
        grid-row: span 2 / span 2;
        // text-align: left;
    }
    :nth-child(6) {
        border-radius: 0;
        grid-row: span 2 / span 2;
        // text-align: left;
    }
    //  :last-child {}
}

.gallery-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    overflow: hidden;
    a {
        color: inherit;
        text-decoration: inherit;
    }
    &.first {
        .txt {
            text-align: left;
        }
    }
}

.gallery-item-a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: margin, padding;
    height: 100%;
    &:hover {
        .txt {
            bottom: 20%;
            color: #ffc760;
            // p{
            //  color: #FFC760 ;
            //}
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 60%;
        left: 0;
        bottom: 0;
        z-index: 2;
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5) 50%, #010232);
        transition: height 0.5s;
    }
    &:hover::after {
        height: 60%;
    }
}

.gallery-img {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    box-sizing: border-box;
    margin: 0px;
    .txt {
        transition: bottom 0.5s;
        position: absolute;
        z-index: 3;
        bottom: 0px;
        color: #fff;
        text-align: center;
        width: 100%;
        padding: 20px;
        h4 {
            margin: 0 0 10px 0;
        }
    }
}

.loc-img {
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.gallery-txt {
    position: absolute;
    z-index: 5;
    left: 1.5rem;
    right: 1.5rem;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    bottom: 3rem;
    p {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

.top-yacht-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .top-rated-yachts {
        a {
            text-decoration: none;
        }
        // color: white;
        width: 220px;
        height: 280px;
        border-radius: 12px;
        object-fit: cover;
        position: relative;

        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: margin, padding;

        &:hover > .top-yacht-txt {
            h3 {
                color: #ffc760;
            }
            h4 {
                color: #ffc760;
            }
            bottom: 20%;
            font-family: Arial, Helvetica, sans-serif;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 20%;
            left: 0;
            bottom: 0;
            z-index: 2;
            border-radius: 12px;
            background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5) 50%, #010232);
            transition: height 0.5s;
        }
    }

    .top-yacht-city {
        position: absolute;
        bottom: 130px;
        padding: 6px;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
}
.top-yacht-txt {
    transition-duration: 0.5s;
    position: absolute;
    bottom: 0;
    h3 {
        font-size: 1.6rem;
        // margin-top: -67px;
        color: white;
        font-family: BlinkerBold;
        // position: absolute;
    }
    text-decoration: none;

    h4 {
        color: white;
        font-size: 1.2rem;
        // margin-top: -20px;
        font-family: BlinkerBold;
    }
}
// }

// html {
//     overflow: overlay;
// }

.main-layout {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1100px) minmax(2rem, 1fr);
}

.main-layout > .full {
    grid-column: 1/-1;
}

.main-layout > * {
    grid-column: 2;
}

.hero {
   
    height: 94vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.178)), url("~@/assets/imgs/new-pic.jpeg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.zayin{
    font-size: 3em;
    font-family: OtomanopeeOne;
    color: #FCE38A;
    text-align: center;
}

.filter-container {
    display: flex;
    cursor: pointer;
}

.scroll-serarch {
    transform-origin: 50% 0 !important;
    transition: transform 0.25s ease, opacity 50ms ease 20ms, visibility 0ms 0.15s !important;
}

.filter-container .wrapper {
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.filter-container .wrapper .box {
    line-height: 18px;
    padding: 10px;
    // position: relative;
    -webkit-padding-start: 24px;
    padding-inline-start: 24px;
    margin-top: 8px;
}

.filter-container .wrapper .box:first-child {
    // min-width: 250px;
    // width: 250px;
    width: min-content;
}

.filter-container .wrapper .box:nth-child(2) {
    width: 250px;
}

.filter-container .wrapper .box:nth-child(3) {
    width: 113px;
}

.hero .h1-container {
    line-height: 70px;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    font-size: 6.5rem;
    font-weight: 800;
    color: #fff;
    justify-content: center;
    align-items: end;
    height: 100%;
}

.hero .h1-container h1 {
    padding: 20px;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    font-size: 6rem;
    line-height: 65px;
    font-family: sans-serif;
}

.hero .h1-container h1 .dot {
    color: #ff385c;
    font-size: 5rem;
    font-family: serif;
}

.justify-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.filter-container .wrapper .box .title {
    font-weight: 800;
    line-height: 12px;
    padding-bottom: 2px;
    -webkit-padding-end: 60px;
    // padding-inline-end: 60px;
    font-size: 14px;
}

.filter-container .wrapper .box .desc {
    color: #afafaf;
    line-height: 36px;
    border: none;
    outline: none;
    font-size: 14px;
    margin-left: 1px;
}

.filter-container .wrapper .box:first-child:after,
.filter-container .wrapper .box:nth-child(2):after {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
}

.wrapper {
    display: flex;
    height: 65px;
}

.see-more {
    display: flex;
    justify-content: flex-end;
    margin: -5px 8px 2px 0px;
    font-size: 13px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: #afadad;
}

.dates,
.guests,
.location {
    display: flex;
    flex-direction: column;
    padding: 1px 2px;
    margin-left: 7px;
}

.dates,
.guests {
    margin-top: 1px;
}

.box {
    width: 250px;
}

.search-icon {
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}

.btn-search {
    // background-color: #ff385c;
    border-radius: 50%;
    width: 41px !important;
    // height: 41px;
    background-color: rgb(0, 94, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    margin-bottom: 3px;
    &::after {
        font-family: fa-solid;
        content: "\f002";
        color: #fff;
        font-size: 25px;
    }
}

.btn-search-large {
    border-radius: 20em;
    height: 50px;
    background-color: rgb(0, 94, 170);
    // border: none;
    width: 50px !important;
    margin-top: 3px;
    margin-right: 3px;
    align-items: center;
    display: flex;
    justify-content: center;
    &::after {
        font-family: fa-solid;
        content: "\f002";
        color: #fff;
        font-size: 25px;
    }
}

.location-header {
    font-size: 2rem;
    line-height: 2.25rem;
    color: #484848;
    margin-bottom: 35px;
}

.explore-crad {
    grid: 2;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    flex-direction: row;
    font-size: 32px;
    line-height: 36px;
    color: #222;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.explore-img {
    width: 330px;
    height: 220px;
    border-radius: 13px;
    cursor: pointer;
    object-fit: cover;
}

.location-txt {
    font-size: 20px;
    font-weight: 700;
    padding: 4px 0px 4px 4px;
    cursor: pointer;
    color: #484848;
}

.router {
    text-decoration: none;
    color: rgb(41, 40, 40);
}

.top-location {
    display: flex;
    justify-content: space-between;
    margin: 2px 0px;
}

.home-yacht-img {
    width: 330;
    height: 220px;
}

.Populate-header {
    margin-top: 35px;
    margin-bottom: 25px;
}

@media (max-width: 440px) {
    .filter-container {
        margin-bottom: 6vh;
        width: 100%;
    }

    .logo-img {
        // margin-left:-20px;
        margin-top: 0px;
    }

    .card-container {
        flex-direction: column;
    }
    .top-location {
        flex-direction: column;
    }
    .hero .h1-container {
        height: 90%;
    }

    .hero .h1-container h1 {
        font-size: 3rem;
        line-height: 56px;
    }

    .hero .h1-container h1 .dot {
        font-size: 3rem;
    }
    .location-txt {
        font-size: 1.8rem;
    }

    .explore-img {
        width: 100% !important;
    }

    .yacht-name-home {
        font-size: 20px;
    }
    .fa-star {
        font-size: 20px;
    }
    .star-txt {
        font-size: 20px;
    }
}

.sailor-picture {
    display: flex;
    width: 100%;
    margin: 8px 0;
    background-color: rgb(149, 210, 212);
    height:400px;
    h2 {
        color: cornsilk;
        font-size: 36px;
    }
    img {
        width: 400px;
    }
}

.sailor-backdrop {
    width: 100%;
    height: 100%;
}

.sailor-backdrop{ height: 100%; }
