@font-face {
    font-family: Blinker;
    src: url(~@/assets/fonts/Blinker/Blinker-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(~@/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: fa-solid;
    src: url(~@/assets/fonts/fa-solid.ttf);
}

@font-face {
    font-family: fa-brands;
    src: url(~@/assets/fonts/fa-brands-400.ttf);
}

@font-face {
    font-family: fa-regular;
    src: url(~@/assets/fonts/fa-regular-400.ttf);
}

@font-face {
    font-family: BlinkerBold;
    src: url(~@/assets/fonts/Blinker/Blinker-Bold.ttf);
}

@font-face {
    font-family: OtomanopeeOne;
    src: url(~@/assets/fonts/otomanopeeOne/OtomanopeeOne-Regular.ttf);
}