// COLOR PALETTE
$clr1: #F38181;
$clr3: #FCE38A;
$clr2: #EAFFD0;
$clr4: #95E1D3;


$brand-grdientlinear-gradient:(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important;
// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


