.home {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    padding: 10px 0;
    // background-image: url('../../assets/images/main-img.jpg');

    .main-img {
        position: inherit;
        height: 450px;
        width: 100%;
        top: 65px
    }
}


///////////////////////////////
//Search Box


div.searchBox {
    margin: 0 auto;
    background-color: white;
    width: 50%;
    height: 64px;
    border-radius: 25px;
    margin-bottom: 100px;
    padding: 17px 20px;
    font-size: 0.85rem;
    margin-top: -506px;
}

    div.searchBox img {
        display: inline-block;
        width: 32px;
        margin-bottom: -4px;
        padding: 4px;
    }

    div.searchBox span {
        display: inline-block;
    }

    div.searchBox .sb-input {
        display: inline-block;
        /*background-color: yellow;*/
        width: 28%;
        height: 100%;
        padding-right: 10px;
        text-align: center;
    }

        div.searchBox .sb-input:not(:last-of-type) {
            border-right-style: ridge;
            /*border-right-color: black;*/
        }

        div.searchBox .sb-input:hover {
            background-color: wheat;
            border-radius: 25px;
            cursor: pointer;
        }


        div.searchBox .sb-input .sb-input-title {
            display: block;
        }

        div.searchBox .sb-input .sb-input-data {
            color: gray;
        }


    /*  div.searchBox .div0 span {
        display: inline-block;
    }
*/


    div.searchBox .di1 {
    }

    div.searchBox .di2 {
    }



div.pickDate {
    display: none;
}


div.pickLocation {
    display: none;
}

div.random-search {
    text-align: center;
}

    div.random-search .rs-title {
        display: block;
        font-weight: bold;
        text-align: center;
        margin-bottom: 8px;
    }

    div.random-search .rs-inner {
        margin: 0 auto;
        background-color: white;
        width: 15%;
        /*height: 32px;*/
        border-radius: 25px;
        margin-bottom: 100px;
        padding: 10px 20px;
        /*font-size: 0.85rem;*/
        text-align: center;
    }

///////////////////////////////

ul{
display: grid;
align-items: center;
justify-content:space-between;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 5px;

.top-rated-yachts {
    width: 100%;
        height: 100%;
    object-fit: cover;
    &:hover{
        opacity: 0.4;
    }

     img {
        width: 100%;
        height: 100%;
        // border-radius: 12px;
    }
.txt{
    position: absolute;
    text-align: center;
top:1116px;

     h3 {
        font-size:1.6rem;
        margin-top: -67px;
        color:white;
        font-family: BlinkerBold;
    }

     h4 {
        color:white;
        font-size:1.2rem;
        margin-top: -20px;
        font-family: BlinkerBold;
        
    }
   } 
}
}
.top-destinations {
    display: flex;
    justify-content: space-around;
}

.destination {
    background-color: cornflowerblue;
    margin: 5px;
    padding: 20px;
}

.yacht {
    padding: 30px;
    margin: 5px;
    background-color: crimson;
}