    .img-grid-container {
        // height: 100%;
        //   object-fit: cover
        display: grid;
        gap: 10px;
        grid-template-columns: auto;
        // grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-auto-rows: 300px;
        grid-auto-flow: dense;
        .yacht-img {
            height: 100%;
            width: 100%;
            // @include aspect-ratio(2, 1);
            // object-fit: cover
        }
        >*:nth-child(4n) {
            grid-column: span 2;
        }
        >*:nth-child(8n) {
            grid-column: span 2;
            grid-row: span 2;
        }
    }
    
    // .yacht-img {
    //     object-fit: cover;
    //     height: 100%;
    //     border-radius: 0px;
    //     // @include aspect-ratio(1, 1);
    // }
    // .yacht-details-img-grid-container {
    //     margin-top: 10px;
    //     width: 100%;
    //     justify-content: center;
    //     align-items: center;
    //     display: grid;
    //     grid-template-columns: 1fr 1fr 1fr 1fr;
    //     // grid-template-rows: 275px 275px;
    //     grid-template-rows: 165px 165px;
    //     // grid-template-rows: 50% 50%;///////////////////calc according to cody width
    //     gap: 8px;
    //     margin-bottom: 40px;
    // }
    // .yacht-details-img-grid-container :first-child {
    //     grid-column: 1/span 2;
    //     grid-row: 1/span 2;
    //     border-top-left-radius: 15px;
    //     border-bottom-left-radius: 15px;
    // }
    // .yacht-details-img-grid-container :nth-child(3) {
    //     border-top-right-radius: 15px;
    // }
    // .yacht-details-img-grid-container :nth-child(5) {
    //     border-bottom-right-radius: 15px;
    // }
    // @media screen and (max-width:740px) {
    //     .yacht-details-img-grid-container {
    //         display: none;
    //     }
    // }