.continer{
    max-height: 378px;
    max-width: 378px; 

   a{
       text-decoration: unset;
       color: inherit;
       
       .yacht-preview {
        //    display: flex;
        //    flex-direction: column;
        //    font-family: Blinker; 
        //    max-height: 378px;
        //    max-width: 378px; 
           @include aspect-ratio(1, 1);
           
           .yacht-img{
               // height: 395.47px;
               // width:395.47px;
               width: 100%;
               border-radius: 12px;
            //    @include aspect-ratio(1, 1);
            }
           
        }
        .main{
            display: flex;
            flex-direction: column;
            font-family: Blinker; 
            // max-height: 378px;
            // max-width: 378px; 
            .yacht-up{
            font-size: small;
            flex-direction: row;
        display: flex;
        justify-content: space-between;
        margin-top: 3px;
        // align-items: center;
        // .right-up{
        //     display: flex;
        // justify-content: space-between;
        // }
        .country{
            padding: 30px;
        }
             .icon::after{
            font-family: fa-solid;
            content: "\f0c0";
            color: dimgrey;
        } 
    }
            .yacht-name{
        font-family: BlinkerBold;
    }
            .right{
            font-family: fa-solid;
            content: "\f054";
            z-index: 2;
            color: dimgrey;
        }
        }
}
}