.filter{
margin-bottom: 7px;
// font-family: Blinker;
display: flex;
align-items: center;
justify-content: space-between;
    .date{
        border-style: none;
        border-radius: 12px;
    }
    .filter-main{
        height: 30px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    }
    .price{
        font-family: Blinker;

    }
    .filter-btn{
        background: none;
        border-radius: 25px;
        cursor: pointer;
        border: none
        ;
        &:hover{
            opacity: 0.5;
            background-color: rgb(212, 200, 205);
            border: 2px solid gray;
        }
    }
    .size{
        position: absolute;
        top: 137px;
        border-radius: 12px;
        padding: 24px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        // height: fit-content;
        border: 1px solid rgb(221, 221, 221);
        z-index: 15;
        right: 114px;
        background-color: white;
    }
    .rate{
        background-color: white;
        position: absolute;
        border-radius: 12px;
        padding: 24px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        border: 1px solid rgb(221, 221, 221);
        z-index: 15;
        right: 64px;
        top: 137px;
    }
    .price{
        background-color: white;
        position: absolute;
        border-radius: 12px;
        padding: 24px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        border: 1px solid rgb(221, 221, 221);
        z-index: 15;
        right: 10px;
        font-family: BlinkerBold;
        font-size: 1rem;
        top: 137px;
    }
    .isOpen{
        // display: table-row-group;
        display: block;
    }
    .isClose{
        display: none;
    }
    .clear{
        z-index: -1;
        border-radius: 20px;
        cursor: pointer;
        background-color: none
        ;
        &:hover{
            opacity: 0.5;
            background-color: rgb(212, 200, 205);
        }
    }

}
