#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    .wrapper {
        position: relative;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $clr1;
            margin-bottom: rem(10px);
            padding: 10px 1rem;
            height: 65px;
            font-size: rem(22px);
            .logo {
                width: 200px;
                object-fit: contain;
            }
            #nav {
                color: $clr2;
                a {
                    font-weight: bold;
                    color: $clr2;
                }
                a.router-link-exact-active {
                    color: $clr4;
                }
            }
        }
    }

    .footer {
        background-color: $clr1;
        color: $clr2;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem(25px);
    }
}