.home {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    padding: 10px 0;
    .main-img {
        position: inherit;
        height: 450px;
        width: 100%;
        top: 65px
    }
}