.header-container {
    width: 100%;
    transition: background-color 0.2s;
    z-index: 50;
    height: 80px;
    background-color: white;
    // position: sticky; // sticky when not on home page 
    // width: 100%;
    // top: 0;
    // box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    // &.home-active {
    //     position: fixed;
    ////}
    
    top: 0;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
 
    .header-right-corner {
        height: 100%;
        align-items: center;
        color: black;
        font-weight: 300;
        .new-owner {
            cursor: pointer;
            padding: 13px;
            border-radius: 25px;
            margin-right: 10px;
            // color: unset;
        }
        .new-owner:hover {
            background-color: rgb(228, 228, 228);
        }
    }
}
.all-owner-orders{
    padding: 0;
}
.fixed{
    position: fixed;
}
.stickyPos{
    position: sticky;
}
.el-menu-item:hover{
background-color: transparent !important;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: #3888ff;
    padding-left: unset;
}

.nav-container {
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:20px;
    .el-menu-item {
        padding-left: unset;
        border-bottom: unset;
        &:hover {
            background-color: transparent !important;
        }
    }
    .el-menu-item.is-active {
        padding-left: unset;
        border-bottom: unset;
    }
}

.slecet * {
    outline: unset;
}

.el-dropdown-link {
    cursor: pointer;
    outline: none;
}

.user-menu-img {
    width: 28px;
    height: 25px;
    border-radius: 50%;
    padding: 0px 0px 0px 2px;
}

.el-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 5px 10px;
}

.el-icon--right {
    width: 20px;
}

.user-select {
    border: 1px solid #dadada;
    border-radius: 40px;
    width: max-content;
    .badge {
        padding: 0px 6px;
        border-radius: 50%;
        background: #005eaa;
        // background: #3895ff;
        color: white;
        font-weight: 600;
        position: absolute;
        top: -5px;
        cursor: pointer;
    }
}

.el-menu {
    background: none;
}

.el-menu--horizontal>.el-menu-item.is-active {
    border: none;
}

.user-option {
    color: #005eaa;
    position: relative;
}

.user-option:hover {
    color: unset;
    background-color: rgba(211, 211, 211, 0.26);
}

.menu-flex {
    display: flex;
    justify-content: space-between;
}

.explore-nav {
    cursor: pointer;
    padding: 13px;
    border-radius: 25px;
    margin-left: -2px;
}

.explore-nav:hover {
    background-color: #f9f9f9;
}

.router {
    text-decoration: none;
    color: rgb(41, 40, 40);
}
.router .txt {
    color: black;
    font-size: 16px;
}

@media screen and(max-width:440px) {
    .header-container {
        grid-template-columns: 15px 1fr 15px;
    }
    .nav-container {
        padding: unset;
        .explore-nav {
            font-size: 1.2rem;
        }
        .explore-nav:hover {
            background-color: unset;
        }
        .new-owner {
            display: none;
        }
        .logo {
            font-size: 1.5rem;
        }
        .el-menu-item {
            padding: unset;
        }
        .user-select {
            border: unset;
            .el-dropdown {
                padding: unset;
            }
            .badge {
                top: -8px;
                right: -6px;
            }
        }
        .user-menu-img {
            width: 41px;
            height: 38px;
        }
        .user-menu-img.burger {
            display: none;
        }
    }
    .el-dropdown-menu__item {
        font-size: 25px;
        margin: 5% 0;
    }
    .el-dropdown-menu__item:hover {
        background-color: unset;
    }
    .el-dropdown-menu.el-popper {
        border-radius: 25px;
    }
}

.header-container .header-right-corner .new-owner:hover {
    background-color: #f9f9f9;
}

.logo-img {
    width: 70px;
    object-fit: cover;
    margin-left: -5px;
    margin-top: 5px;
}