/*TRIP SETTINGS CMP*/

.night {
    font-size: 16px;
}

.trip-settings {
    position: sticky;
    top: 200px;
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    height: fit-content;
    border: 1px solid rgb(221, 221, 221)
}

.trip-settings-mobile {
    display: none;
}

.price-calc {
    margin-top: 24px;
    margin-bottom: 12px;
    // padding-top: 20px;
    width: 100%;
    font-size: 16px;
}

.link {
    color: rgb(113, 113, 113)
}

.service-fee {
    font-size: 16px;
    width: 100%;
}

.total-price {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(221, 221, 221);
    width: 100%;
    font-weight: 800;
    color: #222222;
    font-size: 16px;
}

//special-btn
.special-btn {
    background: linear-gradient(to right, #1e6ee6 0%, #1c72e3 50%, #0478d7 100%);
    cursor: pointer;
    display: inline-block;
    margin: 0;
    margin-bottom: 16px;
    position: relative;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    padding: 14px 24px;
    width: 100%;
    color: #f3f3f3;
    border: none;
    outline: none;
    .middle-level {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        mask-image: radial-gradient(center, (white, black));
        overflow: hidden;
    }
    .special-btn-txt {
        display: block;
        position: relative;
        pointer-events: none;
    }
    .inner-level {
        background-image: radial-gradient(circle at center, #ffc760 0%, #e89b26 27.5%, #e6a23c 40%, #e1be8a 57.5%, #e6a23c 75%, #ffc760 100%);
        display: block;
        width: 100%;
        height: 100%;
        background-size: 200% 200%;
        transition: opacity 1.25s ease 0s;
        border-radius: 8px;
    }
    .inner-level :hover {
        opacity: 1;
    }
}

.special-btn:hover {
    background: #3888ff
}

.special-btn-reserved {
    background-image: linear-gradient(90deg, rgba(18,9,176,1) 39%, rgba(6,86,172,1) 61%, rgba(0,212,255,1) 100%);
    
    cursor: pointer;
    display: inline-block;
    margin: 0;
    margin-bottom: 16px;
    position: relative;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    padding: 14px 24px;
    width: 100%;
    color: #f3f3f3;
    border: none;
    outline: none;
    cursor: not-allowed;
}
.facebook-share {
    border: 1px solid gray;
    padding: 10px 15px;
    margin-right: auto;
    margin-left: auto;
    color: $clr2;
    background-color: #135FC2;
    border-radius: 8px;
    font-weight: bold;
    font-size: 0.75rem;
    transition: 0.3s;
    &:hover {
      background-color: #3888ff;
      border-color: #3888ff;
      color: $clr3;
    }
  }

//         //end of special-btn
.price {
    font-weight: 600;
    font-size: 22px;
    margin-right: 3px;
}

.value-for-money {
    width: 100%;
    align-items: baseline;
    margin-bottom: 14px;
}

.setting-container>* {
    width: 100%;
}

// .setting-container{
//     position:sticky;
// }
.settings {
    margin-bottom: 20px;
    min-width: 100%;
}

.reservation-summary {
    width: 100%;
}

//setting-table
.date-picker {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    // border:none;
    border: 1px solid rgb(221, 221, 221); ///not good
    border-bottom: hidden;
    margin-bottom: 0;
    min-width: 100%;
    height: 50px;
    // display:flex;
    // vertical-align: middle;
    // align-items: center;
    // justify-content: center;
}

.el-date-editor {
    align-items: center;
    margin-left: 1px; //place at center please
    padding: 0px;
    height: 100%;
    width: 100%;
}

.el-range-separator {
    border-right: 1px solid rgb(221, 221, 221);
    // font-size:0px;
    display: block;
    margin-right: 7px;
    // color:transparent;
}

.el-date-editor .el-range-separator {
    width: 9%;
}

.el-range-editor .el-range-input {
    padding-left: 8px;
}

.guest-picker .guests-picker-btn .el-button {
    height: 50px;
}

.el-date-editor .el-range-input {
    width: 100%;
}

.el-range-editor.el-input__inner {
    padding: 0px 10px;
}

.el-date-editor .el-range-separator {
    display: block;
    border-right: 1px solid rgb(221, 221, 221);
    height: 100%;
}

.el-range-editor.el-input__inner {
    padding: 0px;
    height: 100%;
}

.guest-picker {
    // border:none;
    width: 100%; //Dont change!!!!!!!!!
    .guests-picker-btn {
        // min-width:100%;//not responding
        // width: max-content;
        width: 100%;
        // display:flex;
        // border:none;
        .el-button {
            width: 100%;
            border-radius: 8px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            border: 1px solid rgb(221, 221, 221);
            padding: 16px;
        }
    }
}

@media screen and (max-width:740px) {
    .trip-settings {
        display: none;
    }
    .trip-settings-mobile {
        display: flex;
        width: 100%;
        position: sticky;
        z-index: 50;
        bottom: 0px;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        height: fit-content;
        border: 1px solid rgb(221, 221, 221);
        padding-top: 14px;
    }
    .el-popper {
        &:not(.el-picker-panel.el-date-range-picker) {
            width: 212px;
        }
        position: absolute;
        top: 910px;
        left: 580px;
        transform-origin: right center;
        z-index: 2003;
        display: flex;
        flex-direction: column;
    }
    .el-picker-panel {
        max-width: 300px;
        .el-picker-panel__body-wrapper {
            max-width: 300px;
            .el-picker-panel__body {
                max-width: 300px;
            }
        }
    }
    .el-date-range-picker__content {
        width: 100%;
        max-width: 300px;
    }
    .el-date-range-picker .el-picker-panel__body {
        min-width: 0px;
    }
    .setting-container>* {
        width: 100%;
    }
    .trip-settings-mobile>* {
        width: 100%;
    }
    .special-btn {
        max-width: 120px;
    }
}