

.el-dropdown-link {
  cursor: pointer;
  color: #3888ff;
}
.el-icon-arrow-down {
  font-size: 12px;
}

.review-num{
color: rgb(113,113,113);
margin-left: 3px;
  font-size: 12px;
}
.avg-rate{
  margin-left: 3px;
color: #222222;
font-weight: 500;
font-size: 18px;
}

.star-rating{
  font-size:14px;
}
