.yacht-list {
   //  display: flex;
   //  justify-content: center;
   //  align-items: center;
   //  flex-wrap: wrap;
   //  list-style: none;
   //  margin: 0;
   //  padding: 0;
   // background-color: rgb(143, 240, 215);
   // padding: 10px;
   //  display: grid;
   //  gap: 5px;
   //  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
   //  grid-auto-flow: dense;
   //  grid-template-rows:repeat( minmax(150px, 360px));
   //   max-width: 378px;
   //   max-height: 400px;
   //  li{
   // }
   // padding-top: 33px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px 15px;

   @include for-narrow-layout {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      // grid-row: 300px;
   }
   img {
      
      // margin-bottom: 0.5rem;
      cursor: pointer;
      object-fit: cover;
   }
   > * {
      grid-column: span 1;
   }
}
