.continer {
    text-align: left;
    height: unset;
    box-shadow: unset;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #dadada;
    .main{
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: #202020;
    font-size: 1rem;
    .like-btn{
                        position: absolute;
                        top: 12px;
                        right: 10px;
                        background: none;
                        cursor: pointer;
                       opacity: 0.3; 
                       font-size: 1.5rem;                
                    }
                    .like{
                        color: hotpink;
                        position: absolute;
                        top: 12px;
                        right: 10px;
                        cursor: pointer;
                        font-size: 1.5rem;
                    }
            .yacht-preview{
                padding: 10px 15px;
                        display: flex;
                        flex-direction: column;
                        font-family: Blinker; 
                        position: relative;
                        // a{
                        //     text-decoration: unset;
                        //     color: inherit;
                        .yacht-up{
                        // font-size: small;
                        flex-direction: row;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 3px;
                    .right-up {

                        > *:not(:last-child){
                            margin-inline-end: 30px;
                        }
                    }
                    .max-pepole  {
                        .icon::after {
                            font-family: fa-solid;
                            content: "\f0c0";
                            color: dimgrey;
                        }
                        > *:not(:last-child){
                            margin-inline-end: 0.3rem;
                        }
                       
                    }
                    .full-address {
                        .country {
                            font-weight: bold;
                        }
                        .gray{
                            color: #9fa6aa
                        }
                        font-family: Blinker
                    }
            
                    // .max-pepole-icon {
                    //     margin-inline-end: 30px;
                    // }
                }
                .yacht-down{
                  flex-direction: row;
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-end;
                  .bottom-line {
                      >*:not(:last-child){
                          margin-inline-end: 1rem;
                        }
                        .rating-container {
                          margin-inline-end: 3px;
                        >*:not(:last-child){
                            margin-inline-end: 0.2rem;
                        }
                      }
                  }
                        .yacht-name{
                    // font-family: BlinkerBold;
                    display: block;
                    margin-bottom: 5px;
                }
                .yacht-price {
                    font-family: Blinker;
                    color: #9fa6aa
                }
                 .edit{
            background: none;
            border-radius: 25px;
            cursor: pointer;
            height: 24px;
            border: none;
            // margin-right: 4px;
            &:hover{
              opacity: 0.5;
              background-color: rgb(212, 200, 205);
              border: 2px solid gray;
            }
          }
                }
                .right{
                  font-family: fa-solid;
                  content: "\f054";
                  z-index: 2;
                  color: dimgrey;
                  
                }
              }
            }
            &:hover{
              border-radius: 10px;
              box-shadow: rgba(33, 35, 38, 0.1) 1px 10px 10px -10px;
            }
          }
 
.review-lng{
    font-family: Blinker;
    font-size: inherit;
    
}
// }
.el-carousel{
    margin-bottom: 0;
}

 
  .el-carousel__container {
.el-carousel .el-carousel__container {
    height: 320px;
}

.el-carousel__container {
    margin-bottom: 6px;
    @include for-narrow-layout {
        height: 165px;
    }
    img {
        object-fit: cover;
    }
}

.el-carousel-img {
    margin-bottom: 6px;
    button {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
}

.el-carousel__arrow {
    background-color: rgba(233, 233, 233, 0.8);
    color: $clr1;
}

.el-carousel-img .el-carousel__arrow:hover {
    background-color: rgba(255, 255, 255, 0.95);
}

.el-carousel__indicator {
    button {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        padding: 0;
    }
    &:hover {
        button {
            transition: 70ms;
            transform: scale(1.5);
        }
    }
}

// .continer{
//     max-height: 434px;
//     max-width: 358px; 
//     .yacht-preview {
//         // display: inline-block;
//         .el-carousel__item.is-active.is-animating{
//             background: none;
//         }
//         // width: 100%;
//         // border-radius: 12px;
//         //    display: flex;
//         //    flex-direction: column;
//         //    font-family: Blinker; 
//         //    max-height: 378px;
//         //    max-width: 378px; 
// // background-color: none;
//         @include aspect-ratio(1, 1);
//         border-radius: 12px;
//         a{
//             text-decoration: unset;
//             color: inherit;
//             .img{
//                border-radius: 12px;
//                // height: 395.47px;
//                // width:395.47px;
//                width: 100%;
//                height: 100%;
//             //    object-fit: contain;
//             //    @include aspect-ratio(1, 1);
//             }
//             .like-btn{
//                 position: absolute;
//                 top: 12px;
//                 right: 10px;
//                 background: none;
//                 // border: 2px, solid, black;
//                 cursor: pointer;
//                opacity: 0.3;
//             //    color: ivory
//             //    transparent
//             //    opacify($color: #21bd42, $amount: 5);
//             }
//             .like{
//                 color: hotpink;
//                 position: absolute;
//                 top: 12px;
//                 right: 10px;
//                 cursor: pointer;
//             }
//             .el-carousel--horizontal{
//                     overflow-x: hidden;
//                 }
//                 .el-carousel{
//                     margin: 0;
//                 }
//             }
//         }
//         .main{
//             display: flex;
//             flex-direction: column;
//             font-family: Blinker; 
//             position: relative;
//             // top: -19px;
//             font-family: Blinker;
//             // max-height: 378px;
//             // max-width: 378px; 
//             a{
//                 text-decoration: unset;
//                 color: inherit;
//             .yacht-up{
//             font-size: small;
//             flex-direction: row;
//         display: flex;
//         justify-content: space-between;
//         margin-top: 3px;
//         // align-items: center;
//         // .right-up{
//         //     display: flex;
//         // justify-content: space-between;
//         // }
//         .country{
//             padding: 30px;
//             font-family: Blinker
//         }
//              .icon::after{
//             font-family: fa-solid;
//             content: "\f0c0";
//             color: dimgrey;
//         } 
//     }
//             .yacht-name{
//         font-family: BlinkerBold;
//         display: block;
//     }
//     .yacht-price{
//         font-family: Blinker
//     }
//             .right{
//             font-family: fa-solid;
//             content: "\f054";
//             z-index: 2;
//             color: dimgrey;
//         }
//         }
// }
 }


    .stars {
            color:#FFC760;

    }