.filter-yacht-filter{
    font-size: 4rem;
        font-family: BlinkerBold;
    //     display: flex;
    //     justify-content: center;
}

.filter{
// margin-bottom: 7px;
// font-family: Blinker;
// display: block;
display: flex;
align-items: start;
// justify-content: space-between;
// padding-left: 10px;
// padding-right: 10px;
// height: 73px;
flex-direction: column;
padding-top: 20px;
padding-bottom: 20px;
// margin-top: 20px;
.right{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .filter-search{
        display: flex;
    align-items: center;
    position: absolute;
    
    margin: 0 auto;
    background-color: white;
    border-radius: 20em;
    font-size: 0.85rem;
    .search-input{
        box-shadow: 0 1px 2px -1px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20em;
        &:focus{
            box-shadow: inset 0 0 0 2px #0079bf;        }
        &:hover {
            cursor: pointer;
        }
    }
    .btn-search {
        position: relative;
        left: -8px;
        border-radius: 20em;
        height: 30px;
        width: 30px;
        background-color: rgb(0, 94, 170);
        border: none;
        &::after {
            font-family: fa-solid;
            content: '\f002';
            color: #fff;
        }
    }
    }

    .search{
    border: none;

}
// &::after{
//     font-family: fa-solid;
//     content: "\f689";
//     color: $clr1;
// }
  }  
    .filter-main{
        padding-left: 3px;
        padding-top: 13px;
    display: flex;
    justify-content: space-between;
    gap: 7px;
    .price{
        font-family: Blinker;
// color: #b3bec4;
    }
    .filter-btn{
        background: none;
        border-radius: 25px;
        cursor: pointer;
        border: 1px solid #b3bec4;
    padding: 0.5rem 1rem;
    color: gray;
        // border: none
        ;
        &:hover{
            opacity: 0.5;
            // background-color: rgb(228, 216, 221);
            border: 1px solid black;
        }
    }
    .size{
        position: absolute;
        top: 137px;
        border-radius: 12px;
        padding: 24px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        // height: fit-content;
        border: 1px solid rgb(221, 221, 221);
        z-index: 15;
        right: 114px;
        background-color: white;
    }
    .rate{
        background-color: white;
        position: absolute;
        border-radius: 12px;
        padding: 24px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        border: 1px solid rgb(221, 221, 221);
        z-index: 15;
        left: 24px;
        top: 191px;
    }
    .price{
        background-color: white;
        position: absolute;
        border-radius: 12px;
        padding: 24px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        border: 1px solid rgb(221, 221, 221);
        z-index: 15;
        left: 96px;
        font-family: BlinkerBold;
        font-size: 1rem;
        top: 191px;
        input[type='range']{
            color: red;
            background-color: green;
        }
    }
    .date{
        border-style: none;
        border-radius: 12px;
       
        margin-inline-start: 30px;
    }
    input[type=range]{
        background: brown;
    }
    .isOpen{
        // display: table-row-group;
        display: block;
    }
    .isClose{
        display: none;
    }
    .clear{
        // z-index: -1;
        border-radius: 20px;
        cursor: pointer;
        // background-color: none;
   
        ;
        &:hover{
            opacity: 0.5;
            // background-color: rgb(212, 200, 205);
            border: 1px solid black;
        }
    }
}
}
