.user-status-btns{
    .el-tabs__item{
        font-weight: bolder;
        outline: unset !important;
        
    }
    .el-tabs__item.is-active{
        color: #505ae9;
    }
    .el-tabs__item:hover {
        font-weight: bolder;
        color: #505ae9;
        cursor: pointer;
    }
    .el-tabs__active-bar {
        background-color: #505ae9;
    }
}

