@mixin layout-columns($Width: 1306px) {
    grid-template-columns: minmax(2rem, 1fr) minmax(auto, $Width) minmax(2rem, 1fr);
}

.main-layout-home {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1400px) minmax(1rem, 1fr);
    >* {
        grid-column: 2 / span 1;
    }
    >.full {
        grid-column: 1 / -1;
    }
}

.main-layout {
    @include for-normal-layout {
        // >*:not(:first-child){
        display: grid;
        align-items: center;
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1100px) minmax(1rem, 1fr);
        >* {
            grid-column: 2 / span 1;
        }
        >.full {
            grid-column: 1 / -1;
        }
    }
}

.layout-yacht {
    display: grid;
    align-items: center;
    >* {
        grid-column: 2 / span 1;
    }
    >.full {
        grid-column: 1 / -1;
    }
    @include for-mobile-layout {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, $break-narrow) minmax(1rem, 1fr);
    }
    @include for-narrow-layout {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, $break-normal) minmax(1rem, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1100px) minmax(1rem, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1900px) minmax(1rem, 1fr);
    }
}

.full-height {
    min-height: 83vh;
}

.card-grid {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(237px, 1fr));
    // grid-gap: 
    // grid-auto-flow: dense;
    // grid-auto-rows: 300px;
    >* {
        @include aspect-ratio(1, 0.8);
        border-radius: 18px;
    }
}

.modal {
    height: 100vh;
    padding: 30px;
}

.el-icon-date:before {
    margin-left: -11px;
}

@media screen and(max-width:440px) {
    .main-layout {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 320px) minmax(1rem, 1fr);
        // grid-template-columns: minmax(1rem, 1fr) minmax(auto, 400px) minmax(1rem, 1fr) ;
    }
}

@media screen and(max-width:370px) {
    .main-layout {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 320px) minmax(1rem, 1fr);
    }
}